<div class="wrapper">
    <header class="container">
        <div class="header-section">
            <p class="c-tag">VF-APPAREL<sup>CO</sup></p>
            <div class="cart-details">
                <span class="ponds"><i class="fa-solid fa-sterling-sign"></i>
                    <p>{{api.totalCartPrice}}</p>
                </span>
                <span class="circle">
                    <p>{{api.cartItems.length}}</p>
                </span>
            </div>
        </div>
    </header>
</div>